<header><h1><%= @user.email %></h1></header>

<% if signed_in? %>
  <% if current_user.can_follow?(@user) %>
    <%= button_to "Follow", user_follow_path(@user) %>
  <% end %>
<% end %>

<%= render @feed %>
